////
/// Bowhead
/// @link https://github.com/chrisburnell/bowhead
////

@use "sass:list";
@use "sass:map";
@use "sass:meta";

// Decides whether or not use the CSS Variable or raw value when calling the
// @v function.
$bowhead-variable-as-default: true !default;

// Decides whether or not to show a fallback value for the CSS Variable.
$bowhead-show-fallback: true !default;

// Decides whether or not to generate CSS Variables for you.
$bowhead-generate: true !default;

// Defines to which types of values properties should map.
$bowhead-property-map: () !default;
$bowhead-property-map: map.merge(
	(
		width: size,
		inline-size: size,
		min-width: size,
		min-inline-size: size,
		max-width: size,
		max-inline-size: size,
		height: size,
		block-size: size,
		min-height: size,
		min-block-size: size,
		max-height: size,
		max-block-size: size,
		padding: size,
		padding-block: size,
		padding-inline: size,
		padding-top: size,
		padding-block-start: size,
		padding-right: size,
		padding-inline-end: size,
		padding-bottom: size,
		padding-block-end: size,
		padding-left: size,
		padding-inline-start: size,
		margin: size,
		margin-block: size,
		margin-inline: size,
		margin-top: size,
		margin-block-start: size,
		margin-right: size,
		margin-inline-end: size,
		margin-bottom: size,
		margin-block-end: size,
		margin-left: size,
		margin-inline-start: size,
		outline-offset: size,
		flex-basis: size,
		gap: size,
		grid-gap: size,
		column-gap: size,
		row-gap: size,
		top: size,
		inset-block-start: size,
		bottom: size,
		inset-block-end: size,
		left: size,
		inset-inline-start: size,
		right: size,
		inset-inline-end: size,
		inset-block: size,
		inset-inline: size,
		border-width: size,
		border-block: size,
		border-inline: size,
		border-top-width: size,
		border-block-start-width: size,
		border-right-width: size,
		border-inline-start-width: size,
		border-bottom-width: size,
		border-block-end-width: size,
		border-left-width: size,
		border-inline-end-width: size,
		outline-width: size,
		text-decoration-thickness: size,
		text-underline-offset: size,
		border-radius: size,
		border-top-left-radius: size,
		border-start-start-radius: size,
		border-top-right-radius: size,
		border-start-end-radius: size,
		border-bottom-right-radius: size,
		border-end-end-radius: size,
		border-bottom-left-radius: size,
		border-end-start-radius: size,
		background-color: color,
		accent-color: color,
		caret-color: color,
		border-color: color,
		border-block-color: color,
		border-inline-color: color,
		border-top-color: color,
		border-block-start-color: color,
		border-right-color: color,
		border-inline-start-color: color,
		border-bottom-color: color,
		border-block-end-color: color,
		border-left-color: color,
		border-inline-end-color: color,
		outline-color: color,
		fill: color,
		stroke: color,
		text-decoration-color: color,
		text-emphasis-color: color,
		border-block-style: border-style,
		border-inline-style: border-style,
		border-top-style: border-style,
		border-block-start-style: border-style,
		border-right-style: border-style,
		border-inline-start-style: border-style,
		border-bottom-style: border-style,
		border-block-end-style: border-style,
		border-left-style: border-style,
		border-inline-end-style: border-style,
		outline-style: border-style,
		align-content: alignment,
		align-items: alignment,
		align-self: alignment,
		justify-content: alignment,
	),
	$bowhead-property-map
);

// Allows remapping for custom naming of types.
$bowhead-type-map: () !default;

// Begin with an empty map.
$bowhead-tokens: () !default;

///
/// Output a property's CSS Cariable or SCSS value
///
/// @author Chris Burnell
///
/// @param {String} $property - key from $bowhead-property-map or $bowhead-tokens
/// @param {String} $value [default] - key from inner map
/// @param {Boolean} $fallback [not $bowhead-variable-as-default] - toggles the computed fallback value
///
/// @example scss
///   padding: v(size, small) v(size, medium);
///   // padding: var(--size-small) var(--size-medium);
/// @example scss
///   padding: v(size, small, true) v(size, medium, true);
///   // padding: 0.625rem 1.25rem;
///
/// @throw Error if $property doesn't exist in $property
/// @throw Error if $value passed doesn't exist in the map passed by $property
///
/// @return Associated CSS Variable or SCSS value
///
@function v(
	$property,
	$value: default,
	$fallback: not $bowhead-variable-as-default
) {
	// if a generic value is passed, we can just return the value itself
	$generic-values: auto, inherit, initial, none, revert, unset, 0, 1, 100%,
		currentColor;
	@if list.index($generic-values, $value) {
		@return $value;
	}
	// if we're passing in a key in the tokens Map (e.g. size)
	@if map.has-key($bowhead-tokens, $property) {
		$map-values: map.get($bowhead-tokens, $property);

		// throw a warning if the value does not exist in the associated Map
		@if not map.has-key($map-values, $value) {
			@warn "There is no value named `#{$value}` in the variable list. The value should be one of `#{map.keys($map-values)}`.";
		}

		@if $fallback {
			@return map.get($map-values, $value);
		} @else {
			@return var(--#{$property}-#{$value});
		}
	}
	// otherwise we're passing in a value from the properties Map (e.g. fill)
	@else if map.has-key($bowhead-property-map, $property) {
		$map-properties: map.get($bowhead-property-map, $property);
		$nest-name: null;
		$nest-map-name: null;
		$map: null;
		$variable-fallback: null;
		$variable-output: null;

		// if a Nested List, we need to go deeper
		@if meta.type-of($map-properties) == list {
			$nest-name: list.nth($map-properties, 1);
			$nest-map-name: list.nth($map-properties, 2);
		}

		// if it is a Nested List
		@if $nest-name {
			@warn "DOES THIS EVER HAPPEN??";

			// get the map from nested map-name
			$map: map.get($bowhead-tokens, $nest-name);
			// get the nested map
			$nest-map: map.get($map, $nest-map-name);

			// throw a warning if the value does not exist
			@if not map.has-key($nest-map, $value) {
				@warn "There is no value named `#{$value}` in the `#{$nest-name}` variable list. The value should be one of `#{map.keys($nest-map)}`.";
			}

			@if $fallback {
				@return map.get($nest-map, $value);
			} @else {
				@return var(--#{$nest-name}-#{$nest-map-name}-#{$value});
			}
		} @else {
			// remap for custom naming of types
			@if map.has-key($bowhead-type-map, $map-properties) {
				$map-properties: map.get($bowhead-type-map, $map-properties);
			}
			// get the map from map name, stored
			$map: map.get($bowhead-tokens, $map-properties);

			// throw a warning if the value does not exist
			@if not map.has-key($map, $value) {
				@warn "There is no value named `#{$value}` in the `#{$map-properties}` variable map. The value should be one of `#{map.keys($map)}`.";
			}

			@if $fallback {
				@return map.get($map, $value);
			} @else {
				@return var(--#{$map-properties}-#{$value});
			}
		}
	}
	// throw a warning if the property does not exist
	@warn "There is no property named `#{$property}` in the variable or property map. The value should be one of `#{map.keys(map.merge($bowhead-tokens, $bowhead-property-map))}`.";
}

///
/// Output a property, CSS Variable, and, optionally, SCSS value
///
/// @author Chris Burnell
///
/// @param {String} $property - key from $bowhead-property-map or $bowhead-tokens
/// @param {String} $value [default] - key from inner map
/// @param {Boolean} $show-fallback [false] - if the SCSS value should be shown
///
/// @example scss
///   @include v(padding, small);
///   // padding: var(--size-small);
/// @example scss
///   @include v(padding, small, true);
///   // padding: 0.625rem;
///   // padding: var(--size-small);
///
/// @return Associated property and CSS Variable or SCSS value
///
@mixin v($property, $value: default, $show-fallback: $bowhead-show-fallback) {
	// leverage the v() function and output the CSS Variable(s) and optionally
	// the respective SCSS value(s) as well as the property
	@if $show-fallback {
		#{$property}: v($property, $value, true);
	}
	#{$property}: v($property, $value, false);
}

@if $bowhead-generate {
	:root {
		@each $key, $map in $bowhead-tokens {
			@each $property, $value in $map {
				#{"--" + $key + "-" + $property}: #{$value};
			}
		}
	}
}
