// Decides whether or not to show a non-CSS Variable fallback value.
$show-fallback: true;


$measures: (
    tiny: 0.125rem,
    small:  0.5rem,
    medium:   1rem,
    large: 2.25rem,
    gigantic: 4rem
) !default;

$opacities: (
    alpha: 0.8,
    beta:  0.5,
    gamma: 0.2
) !default;

$colors: (
    transparent: rgba(0, 0, 0, 0),
    brick:       #b22222,
    plankton:    #3cb371,
    desert:      #d2b48c
) !default;

$z-indexes: (
    below:  -1,
    root:    0,
    default: 1,
    above:   2
) !default;
