// Decides whether or not to show a fallback value for the CSS Variable.
$bowhead-show-fallback: true !default;

// Decides whether or not to generate CSS Variables for you.
$bowhead-generate: true !default;

$bowhead-tokens: (
    measure: (
        small:  0.5rem,
        medium:   1rem,
        large:    2rem,
    ),
    color: (
        brick:    #b22222,
        plankton: #3cb371,
        desert:   #d2b48c
    ),
    opacity: (
        alpha: 0.8,
        beta:  0.5,
        gamma: 0.2
    ),
    z-index: (
        below:  -1,
        root:    0,
        default: 1,
        above:   2
    )
) !default;

$bowhead-property-map: () !default;
$bowhead-property-map: map-merge((
    width: measure,
    min-width: measure,
    min-inline-size: measure,
    max-width: measure,
    max-inline-size: measure,
    height: measure,
    min-height: measure,
    min-block-size: measure,
    max-height: measure,
    max-block-size: measure,
    padding: measure,
    padding-block: measure,
    padding-inline: measure,
    padding-top: measure,
    padding-block-start: measure,
    padding-right: measure,
    padding-inline-end: measure,
    padding-bottom: measure,
    padding-block-end: measure,
    padding-left: measure,
    padding-inline-start: measure,
    margin: measure,
    margin-block: measure,
    margin-inline: measure,
    margin-top: measure,
    margin-block-start: measure,
    margin-right: measure,
    margin-inline-end: measure,
    margin-bottom: measure,
    margin-block-end: measure,
    margin-left: measure,
    margin-inline-start: measure,
    outline-offset: measure,
    flex-basis: measure,
    gap: measure,
    grid-gap: measure,
    column-gap: measure,
    row-gap: measure,
    top: measure,
    bottom: measure,
    left: measure,
    right: measure,
    border-block: measure,
    border-inline: measure,
    border-top-width: measure,
    border-block-start-width: measure,
    border-right-width: measure,
    border-inline-start-width: measure,
    border-bottom-width: measure,
    border-block-end-width: measure,
    border-left-width: measure,
    border-inline-end-width: measure,
    outline-width: measure,
    text-decoration-thickness: measure,
    text-underline-offset: measure,
    border-width: measure,
    border-top-left-radius: measure,
    border-start-start-radius: measure,
    border-top-right-radius: measure,
    border-start-end-radius: measure,
    border-bottom-right-radius: measure,
    border-end-end-radius: measure,
    border-bottom-left-radius: measure,
    border-end-start-radius: measure,
    background-color: color,
    caret-color: color,
    border-color: color,
    border-block-color: color,
    border-inline-color: color,
    border-top-color: color,
    border-block-start-color: color,
    border-right-color: color,
    border-inline-start-color: color,
    border-bottom-color: color,
    border-block-end-color: color,
    border-left-color: color,
    border-inline-end-color: color,
    outline-color: color,
    fill: color,
    stroke: color,
    text-decoration-color: color,
    text-emphasis-color: color,
    border-block-style: border-style,
    border-inline-style: border-style,
    border-top-style: border-style,
    border-block-start-style: border-style,
    border-right-style: border-style,
    border-inline-start-style: border-style,
    border-bottom-style: border-style,
    border-block-end-style: border-style,
    border-left-style: border-style,
    border-inline-end-style: border-style,
    outline-style: border-style
), $bowhead-property-map);
