////
/// Maps
////

/// @type Map
$variable-map: (
    color: $colors,
    measure: $measures,
    opacity: $opacities,
    z-index: $z-indexes
) !default;

/// @type Map
$property-map: (
    width: measure,
    min-width: measure,
    max-width: measure,
    height: measure,
    min-height: measure,
    max-height: measure,
    padding: measure,
    margin: measure,
    background-color: color,
    color: color,
    border-color: color,
    outline-color: color,
    fill: color,
    stroke: color,
    opacity: opacity,
    z-index: z-index
) !default;
